<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
  <link rel="icon" href="http://obj-cache.cloud.ruanbekker.com/favicon.ico">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

  <title>Search Lyrics</title>

</head>
<body>
<section style='background-image:url(htmlbackground.jpg)';>

  <div class="container">
    <div style="background:transparent !important" class="jumbotron">
      <div style="font-family: 'Ubuntu', sans-serif">
        <p>
          <center>
          <font size="8">Provide some words. We will show matching lyrics.</font>
          </center>
        </p>
      </div>
    </div>

    <form action="results" method="post">
      <div class="input-group">
        <input type="text" class="form-control input-lg" name="input" placeholder="Search Words" autofocus>
        <input type="text" class="form-control input-lg" name="num" placeholder="Number of songs" autofocus>
        <div class="input-group-btn">
          <button class="btn btn-primary btn-lg" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </form>

    <br><br>
      <footer class="footer">
        <p>&copy; Debojyoti Roy (2019ht13192@wilp.bits-pilani.ac.in) </p>
      </footer>
      </section>
      </div>
    </div>
  </body>
</html>
